@import '../../styles/contants.scss';

.wrapper{
    background: white;
    overflow: hidden;

    .container{
        @media (max-width:$sm) {
            span{
                font-size: 2rem;
            }
        }
        flex-direction: column;
        gap: 2rem;

        .heading{
            width: 100%;
            justify-content: space-between;
            align-items: flex-end;
            flex-wrap: wrap;

            >:nth-child(2){
                text-decoration: underline;
                color: orange;
                cursor: pointer;
                
                @media (max-width:$sm) {
                    font-size: 1rem;
                }
            }
        }

        .showCase{
            width: 100%;
            gap: 1.5em;
            justify-content: space-around;
            flex-wrap: wrap;

            >img{
                @media (max-width: $sm) {
                    width: 80%;
                }
                border-radius: 20px;
                max-width: 25rem;
                max-height: 18rem;
                box-shadow: 0px 21px 13px rgba(0, 0, 0, 13%);
                cursor: pointer;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                transform-origin: bottom;

                &:hover{
                    animation-name: bounce;
                    animation-timing-function: ease;
                }
            }
        }
    }
}

@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
    }
